<h1>
    <span style="color:blue">T</span>
    <span style="color:red">h</span>
    <span style="color:green">e </span>
    <span style="color:blue">I</span>
    <span style="color:red">n</span>
    <span style="color:rgb(255, 191, 0)">t</span>
    <span style="color:blue">e</span>
    <span style="color:green">r</span>
    <span style="color:red">n</span>
    <span style="color:rgb(255, 191, 0)">s</span>
    <span style="color:blue">h</span>
    <span style="color:green">i</span>
    <span style="color:red">p</span>
</h1>
<ul>
    <li><a href="home.component.html">Home</a></li>
    <li><a class="active" href="cast.component.html">Cast</a></li>
</ul>
<hr>
<br>