<h1 style="text-align:center;">
    <span style="color:blue">T</span>
    <span style="color:red">h</span>
    <span style="color:green">e </span>
    <span style="color:blue">I</span>
    <span style="color:red">n</span>
    <span style="color:rgb(255, 191, 0)">t</span>
    <span style="color:blue">e</span>
    <span style="color:green">r</span>
    <span style="color:red">n</span>
    <span style="color:rgb(255, 191, 0)">s</span>
    <span style="color:blue">h</span>
    <span style="color:green">i</span>
    <span style="color:red">p</span>
</h1>
<img src="../../assets/TheInternshipMoviePosterFromMalaysia.JPG" 
    alt="A Poster from the movie The Internship that has the cast standing in front of the Google office building."
    width="400" height="500">