<h1>
    <span style="color:blue">T</span>
    <span style="color:red">h</span>
    <span style="color:green">e </span>
    <span style="color:blue">I</span>
    <span style="color:red">n</span>
    <span style="color:rgb(255, 191, 0)">t</span>
    <span style="color:blue">e</span>
    <span style="color:green">r</span>
    <span style="color:red">n</span>
    <span style="color:rgb(255, 191, 0)">s</span>
    <span style="color:blue">h</span>
    <span style="color:green">i</span>
    <span style="color:red">p</span>
</h1>
<ul *ngIf="home">
    <li><button class="active" (click)="homeTab()">Home</button></li>
    <li><button (click)="castTab()">Cast</button></li>
</ul>
<ul *ngIf="home === false">
    <li><button (click)="homeTab()">Home</button></li>
    <li><button class="active" (click)="castTab()">Cast</button></li>
</ul>
<hr>
<br>
<img src="https://raw.githubusercontent.com/stang10/theinternship/master/docs/assets/TheInternshipMoviePosterFromMalaysia.jpg" 
    alt="A Poster from the movie The Internship that has the cast standing in front of the Google office building."
    *ngIf="home">

<p *ngIf="home">The Internship was released in 2013. It stars Vince Vaughn and Owen Wilson who play middle aged men feeling outdated in the world around them. After being 
    laid off, they seek out work in other fields. After an unconventional interview and a little help from some sympathetic judges, these men embark on their journey
    as "Nooglers" otherwise known as Google Interns. 
</p>
<table *ngIf="home === false" style="width:100%">
    <tr>
      <td><img src="https://raw.githubusercontent.com/stang10/theinternship/master/src/assets/VinceVaughn.jpg" alt="A headshot of Vince Vaughn"></td>
      <td><h2>Vince Vaughn</h2><br>The main character.</td> 
    </tr>
  </table>